<div class="row">
  <div class="container">
    <div class="col-md-12">
      <div class="block-section">
          <h4>Card Details</h4>
          <label>Solution 1</label>
          <div class="card-js"></div>
      </div>

      <div class="block-section">
          <label>Solution 2</label>
          <input type="text" style="display:block;" name="cstCCNumber" placeholder="Enter Card Details" [(ngModel)]="cstCCNumber" value="" (keyup)="cc_format('cstCCNumber','cstCCardType');">
      </div>
    </div>

    <div class="col-md-12">
        <div class="block-section">
            <h4>Image Upload</h4>
        
            <input type="file" (change)="fileChangeEvent($event)" />
    
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                format="png"
                [resizeToHeight]="128"
                [resizeToWidth]="300"
                [cropperMinWidth]="128"
                [onlyScaleDown]="true"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
    

            <h4 *ngIf="croppedImage">This is the final image to send (300 * 300px) dimensions</h4>
            <img [src]="croppedImage" />
        </div>
    </div>

    <div class="col-md-12">
        <div class="block-section">
            <h4>Angular Google Maps</h4>

            <div class="form-group">
              <label>Enter address</label>
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
          
            <agm-map [latitude]="latitude" [longitude]="longitude">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
          
            <div class="row">
              <div class="col-md-6">
                <div class="block-section">
                    <label>Latitude</label> 
                    <input type="text" [(ngModel)]="latitude" />
                </div>
                
              </div>
  
              <div class="col-md-6">
                  <div class="block-section">
                      <label>Longitude</label> 
                      <input type="text" [(ngModel)]="longitude" />
                  </div>
                  
              </div>
            </div>
            
        </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
